<div class="modal">
    <ion-header-bar>
        <h1 class="title">Create a new Mood</h1>
    </ion-header-bar>
    <ion-content class="has-header padding">
        <form ng-submit="submitForm()">
            <div class="range {{data.rangeColor}}">
                <i class="icon ion-sad"></i>
                <input type="range" name="volume" ng-model="data.rangeValue" value="{{data.rangeValue}}" ng-change="setColor()" min="-100" max="100">
                <i class="icon ion-happy"></i>
            </div>
            <ul class="list">
                <li class="item item-toggle">
                    {{data.rangeValue | asPercentage}}
                </li>
            </ul>
            <button ng-click="submit()" class="button button-block button-positive" analytics-on="click" analytics-category="Mood" analytics-event="Submit">Submit</button>
            <button ng-click="closeModal()" class="button button-block button-light">Cancel</button>
        </form>
    </ion-content>
</div>
