<ion-view title="D3 Test">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-tabs class="tabs-dark tabs-icon-top">
        <ion-tab title="QotD" icon-on="ion-ios7-pie" icon-off="ion-ios7-pie-outline" on-select="qotdTab()">
            <ion-content class="has-header padding" animation="slide-left-right">
                <div class="card">
                    <h4>{{qotd.title}}</h4>
                </div>
                <nvd3 options="qotd.options" data="qotd.data" config="qotd.config" events="qotd.events" api="api"></nvd3>
            </ion-content>
        </ion-tab>
        <ion-tab title="Moods" icon-on="ion-ios7-pulse-strong" icon-off="ion-ios7-pulse" on-select="moodTab()">
                <h4>{{mood.title}}</h4>
            <ion-content class="has-header padding" animation="slide-left-right">
                <nvd3 options="mood.options" data="mood.data" config="mood.config" events="mood.events" api="api"></nvd3>
            </ion-content>
        </ion-tab>
    </ion-tabs>
</ion-view>
