<ion-view title="Welcome">
    <ion-content class="has-header padding">
        <h4 class="title">Tell Us About Yourself</h4>
        <div>
          <label class="item item-input">
            <span class="input-label">Birth Year</span>
            <input type="number" ng-model="user.birthyear">
          </label>
          <label class="item item-input item-select">
            <span class="input-label">Gender</span>
            <select ng-model="user.gender">
              <option selected>Male</option>
              <option>Female</option>
            </select>
          </label>
          <label class="item item-input item-select">
            <span class="input-label">Income Range</span>
            <select ng-model="user.income">
              <option value="Less than $20,000"><span>Less than $20,000</span></option>
              <option value="$20,000 to $34,999"><span>$20,000-$34,999</span></option>
              <option value="$35,000 to $49,999"><span>$35,000-$49,999</span></option>
              <option value="$50,000 to $74,999"><span>$50,000-$74,999</span></option>
              <option value="$75,000 to $99,999"><span>$75,000-$99,999</span></option>
              <option value="$100,000 to $149,999"><span>$100,000-$149,999</span></option>
              <option value="$150,000 to $199,999"><span>$150,000-$199,999</span></option>
              <option value="$200,000 or more"><span>$200,000+</span></option>
            </select>
          </label>
        </div>
        
    </ion-content>
    <ion-footer-bar class="bar bar-footer bar-positive" ng-click="createUser(user)">
      <button class="button button-block button-positive" style="margin-top: 0px; border: none;">Done</button>
      <br>
    </ion-footer-bar>
</ion-view>