<ion-view title="Welcome">
    <ion-content class="has-header padding">
        <h4 class="title">Tell Us About Yourself</h4>
        <div>
          <label class="item item-input">
            <span class="input-label">Birth Year</span>
            <input type="text" placeholder="yyyy" ng-model="user.year">
          </label>
          <label class="item item-input item-select">
            <span class="input-label">Gender</span>
            <select ng-model="user.gender">
              <option selected>Male</option>
              <option>Female</option>
            </select>
          </label>
          <label class="item item-input item-select">
            <span class="input-label">Income Range</span>
            <select ng-model="user.income">
              <option value="Less than $20,000">Less than $20,000</option>
              <option value="$20,000 to $34,999">$20,000 to $34,999</option>
              <option value="$35,000 to $49,999">$35,000 to $49,999</option>
              <option value="$50,000 to $74,999">$50,000 to $74,999</option>
              <option value="$75,000 to $99,999">$75,000 to $99,999</option>
              <option value="$100,000 to $149,999">$100,000 to $149,999</option>
              <option value="$150,000 to $199,999">$150,000 to $199,999</option>
              <option value="$200,000 or more">$200,000 or more</option>
            </select>
          </label>
        </div>
        

        <button ng-click="createUser(user)" class="button button-block button-positive">Done</button>
    </ion-content>
</ion-view>