<ion-view title="Home">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header padding">
        <h2 class="title">Welcome to Tribe!</h2>
        <p>Tribe is a crowd-sensing mobile app.</p>
        <p>We're interested in seeing the trends in Vancouverites moods & their responses to questions of the day.</p>
        <p>In a future release, we will incorporate the Tribe component to analyze responses across different user groups.</p>

        <p> Note: with each response, we also collect the devices UUIDs.</p>
        
        <h3>To use</h3>
        <h5>1. Report your mood as often as you like</h5>
        <h5>2. Answer the Question of the Day</h5>
        <h5>3. Schedule a daily reminder in the Settings page</h5>

        <a href="#/app/mood#create" class="button button-block button-energized">Report Your Mood</a>
        <a href="#/app/qotd" class="button button-block button-positive">Answer the Question of the Day</a>

        This is a very early alpha, if you have feedback, check out our
        <a onclick="window.open('https://github.com/UrbanOpus/tribe-client/issues', '_blank', 'location=yes'); return false" href="#">Github issue tracker.</a>
        or via <a href="mailto:12ay.huang+tribe@gmail.com">email.</a>
        
    </ion-content>
</ion-view>
