<ion-view title="Dashboard">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header" scroll="false">
        <div class="dashboard-qotd" ng-show="hasQotD && !data.expired">
            <div class="qotd-answered" ng-show="qotd.answered">
                <div class="padding">
                  {{qotd.title}}
                </div>
                <nvd3 options="qotd.options" data="qotd.data" config="qotd.config" events="qotd.events" api="api"></nvd3>                
            </div>
            <div ng-hide="qotd.answered" class="qotd-notanswered">
                You haven't answered today's question yet!
                <a href="#/app/qotd" class="button button-positive answer-button">Answer the Question of the Day</a>
            </div>
        </div>
        <div class="qotd-notavailable" ng-hide="hasQotD">
            There is no question available yet for today!
        </div>
        <div class="qotd-notavailable" ng-show="hasQotD && data.expired">
            You missed answering the question of the day, come back Tommorrow!</span>
        </div>

        <div class="dashboard-selectors">
          <div ng-show="tribeEnabled">
            <div class="row">
              <div class="col"><a href="#/app/tribes"><i class="icon ion-android-friends"></i>
                <div class="selector-text">Tribes</div></a>
              </div>
              <div class="col"><a href="#/app/qotd"><i class="icon ion-help-circled"></i>
                <div class="selector-text">Questions</div></a>
              </div>
  <!--             <div class="col"><a href="#/app/mood"><i class="icon ion-happy"></i>
                <div class="selector-text">Mood</div></a>
              </div> -->
            </div>
            <div class="row">
              <div class="col"><a href="#/app/settings"><i class="icon ion-settings"></i>
                <div class="selector-text">Settings</div></a>
              </div>
              <div class="col"><a href="#/app/about"><i class="icon ion-help-buoy"></i>
                <div class="selector-text">About</div></a>
              </div>
            </div>
          </div>

          <div ng-hide="tribeEnabled">
            <div class="row">
              <div class="col"><a href="#/app/qotd"><i class="icon ion-help-circled"></i>
                <div class="selector-text">Questions</div></a>
              </div>
              <div class="col"><a href="#/app/settings"><i class="icon ion-settings"></i>
                <div class="selector-text">Settings</div></a>
              </div>
              <div class="col"><a href="#/app/about"><i class="icon ion-help-buoy"></i>
                <div class="selector-text">About</div></a>
              </div>
            </div>
          </div>

        </div>
    </ion-content>
</ion-view>
