<ion-side-menus>

    <ion-pane ion-side-menu-content drag-content="false">
        <ion-nav-bar class="bar-stable">
        </ion-nav-bar>
        <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
    </ion-pane>

    <ion-side-menu side="left">
        <header class="bar bar-header bar-dark">
            <h1 class="title">Tribe</h1>
        </header>
        <ion-content class="has-header">
            <ion-list>
                <ion-item nav-clear menu-close href="#/app/home">
                    <i class="icon ion-home padding-right"></i>Home
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/mood">
                    <i class="icon ion-happy padding-right"></i>Mood
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/qotd">
                    <i class="icon ion-person-stalker padding-right"></i>Questions
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/settings">
                    <i class="icon ion-settings padding-right"></i>Settings
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/about">
                    <i class="icon ion-help-buoy padding-right"></i>About
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/d3">
                    <i class="icon ion-stats-bars padding-right"></i>D3 Tests
                </ion-item>
            </ion-list>
        </ion-content>
        <div class="bar bar-footer bar-balanced">
          <a class="button button-icon icon ion-social-github"
             onclick="window.open('https://github.com/UrbanOpus/tribe-client',
            '_blank', 'location=yes'); return false">
            Feedback?
          </a>
        </div>
    </ion-side-menu>
</ion-side-menus>
