<ion-view title="Messages">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header padding message-view">
      <div class="item msg" style="width: 100%" ng-repeat="msg in messages">
        <div ng-class="{selfmsg: msg.uuid === userid}">
          <div class="from" ng-hide="msg.uuid === userid">{{msg.from}}</div>
          <div class="body"><span>{{msg.body}}</span></div>
        </div>
      </div>

    </ion-content>
    <div class="bar bar-subfooter message-input">
      <div class="msg-name">{{nickname}}:</div>
      <input type="text" ng-model="message.content" ng-keydown="addMessage($event)" placeholder="Message...">
      <button class="button button-positive" ng-click="sendMsg()">  Send  </button>
    </div>

    <div class="tabs" ng-hide="globalchat">
      <a class="tab-item" ng-href="#/app/tribe?id={{tribe}}">
        Overview
      </a>
      <a class="tab-item" ng-href="#/app/triberesult?id={{tribe}}">
        Results
      </a>
      <a class="tab-item active" ng-href="#/app/messages?id={{tribe}}">
        Chat
      </a>
    </div>
</ion-view>
