<ion-view title="Moods">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        <div class="h1 title"></div>
        <button class="button button-positive" ng-show="isLocal" ng-click="openModal()">New</button>
    </ion-nav-buttons>
        <ion-tabs class="tabs-dark tabs-icon-top">
            <ion-tab title="Your Moods" icon-on="ion-ios7-person" icon-off="ion-ios7-person-outline" on-select="userTab()">
                <ion-content animation="slide-left-right">
                    <google-map center="map.center" zoom="map.zoom" options="map.options" draggable="true">
                        <markers models="map.markers" coords="'self'" fit="true" icon="'icon'"></markers>
                    </google-map>
                    <div class="item">
                      <h5>green = happy, yellow = neutral, red = unhappy</h5>
                    </div>
                    <h4 style="text-align: center">History</h4>
                    <div class="list list-inset" ng-show="data.moods.length">
                        <ion-item class="item" ng-repeat="mood in data.moods">
                            {{mood.value | asPercentage}}

                            <span class="item-note"><i ng-if="mood.location" class="icon ion-location"></i> {{mood.createdAt | date:'short'}}</span>
                        </ion-item>
                    </div>
                    <div class="item" style="text-align: center" ng-hide="data.moods.length">
                      You have no mood history! Submit one Now!
                      <br>
                      <button class="button button-positive button-block" ng-show="isLocal" ng-click="openModal()">Add a New Mood</button>
                    </div>
                </ion-content>
            </ion-tab>
            <ion-tab title="All Moods" icon-on="ion-ios7-people" icon-off="ion-ios7-people-outline" on-select="globalTab()">
                <ion-content animation="slide-left-right">
                    <google-map center="map.center" zoom="map.zoom" options="map.options" control="map.control" draggable="true">
                        <markers models="map.markers" coords="'self'" fit="true" icon="'icon'"></markers>
                    </google-map>
                    <div class="item">
                      <h5>green = happy, yellow = neutral, red = unhappy</h5>
                    </div>
                    <div class="item" style="text-align: center" ng-hide="data.allMoods.length">
                      <h2>There is no mood history.</h2>
                    </div>
                    <tribe-mood-timeline moods="data.allMoods" timeline="data.timeline" on-scroll="fetchDateRange()" ng-show="data.allMoods.length"/>

                </ion-content>


            </ion-tab>
        </ion-tabs>
</ion-view>
