<ion-view title="Moods">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        <div class="h1 title"></div>
        <button class="button button-positive" ng-click="openModal()">New</button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <div id="map" data-tap-disabled="true">Future site of map</div>

        <ion-list class="list list-inset">
            <ion-item class="item" ng-repeat="mood in data.moods">
                {{mood.value | asPercentage}}
                <span class="item-note">{{mood.createdAt | date:'short'}}</span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>