<ion-view title="Settings">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <div class="card">
      <div class="item item-divider">
          Change Nickname
      </div>

      <div class="item">
          <input type="text" ng-model="data.nickname" placeholder="enter nickname" ng-value="{{nickname}}">
      </div>    
      <!--
        <div class="item item-text-wrap">
            <button class="button button-block button-assertive" ng-click="deleteUser()">DELETE USER</button>
        </div>
        -->
    </div>
  </ion-content>
  <ion-footer-bar class="bar bar-footer bar-positive" ng-click="updateSettings()">
    <button class="button button-block button-positive" style="margin-top: 0px; border: none;" analytics-on="click" analytics-category="Settings" analytics-event="Nickname">Save Settings</button>
    <br>
  </ion-footer-bar>
</ion-view>
