<ion-view title="Settings">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <div class="card">
      <div class="item item-divider">
        Mood Mapping Notifications
      </div>
      <div class="item item-text-wrap">
        <p>
          We're really interested in knowing how you feel. Enable this
          notification feature so you're prompted every day at a
          specified time to record your mood.
        </p>
      </div>
      <ion-toggle ng-model="mood_notify.checked"
                  ng-click="updateSettings()">
        Enable Mood Notifications
      </ion-toggle>
      <label class="item item-input item-select item-text-wrap" ng-show="mood_notify.checked">
        <div class="label">
            Schedule Time
        </div>
          <select name="" id="mood_notify_time" ng-model="data.value" ng-options="time for time in data.times" ng-change="updateSettings()">
          </select>
      </label>
      <!--
        <div class="item item-text-wrap">
            <button class="button button-block button-assertive" ng-click="deleteUser()">DELETE USER</button>
        </div>
        -->
    </div>
  </ion-content>
</ion-view>
