<ion-view title="{{tribe.name}}">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header padding">
        <img ng-src="{{tribe.imgsrc}}" alt="" class="tribe-info-logo">
        <p>Name: {{tribe.name}}</p>
        <p>Category: {{tribe.category}}</p>
        <p>Summary: {{tribe.summary}}</p>
        <p>Created: {{tribe.createdAt}}</p>
        <p>Members: {{tribe.members.length}} </p>

        <div ng-hide="memberOf">
            <button class="button button-assertive" ng-click="joinTribe()">Join Tribe</button>
        </div>
        <div ng-show="memberOf">
            <button class="button button-positive" ng-click="leaveTribe()">Leave Tribe</button>
        </div>
    </ion-content>

    <div class="tabs">
      <a class="tab-item active" ng-href="#/app/tribe?id={{tribe._id}}">
        Overview
      </a>
      <a class="tab-item" ng-href="#/app/triberesult?id={{tribe._id}}">
        Results
      </a>
      <a class="tab-item" ng-href="#/app/messages?id={{tribe._id}}">
        Chat
      </a>
    </div>
</ion-view>
