<ion-view title="{{tribe.name}}">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header padding">
      <div class="list">
        <div class= "tribe-info">
          <img ng-src="{{tribe.imgsrc}}" alt="" class="tribe-info-logo">
          <div><span class="tribe-label">Name:</span> {{tribe.name}}</div>
          <div><span class="tribe-label">Category:</span> {{tribe.category}}</div>
          <div><span class="tribe-label">Created:</span> {{tribe.createdAt}}</div>
          <div><span class="tribe-label">Members:</span>  {{tribe.members.length}} </div>
          <div ng-hide="memberOf">
              <button class="button button-assertive" ng-click="joinTribe()" analytics-on="click" analytics-category="Tribe" analytics-event="Join">Join Tribe</button>
          </div>
          <div ng-show="memberOf">
              <button class="button button-positive" ng-click="leaveTribe()" analytics-on="click" analytics-category="Tribe" analytics-event="Leave">Leave Tribe</button>
          </div>
        </div>

        <div>
          <p><span class="tribe-label">Summary:</span> {{tribe.summary}}</p>
        </div>
      </div>
    </ion-content>

    <div class="tabs">
      <a class="tab-item active" ng-href="#/app/tribe?id={{tribe._id}}">
        Overview
      </a>
      <a class="tab-item" ng-href="#/app/triberesult?id={{tribe._id}}">
        Results
      </a>
      <a class="tab-item" ng-href="#/app/messages?id={{tribe._id}}">
        Chat
      </a>
    </div>
</ion-view>
