<?xml version='1.0' encoding='utf-8'?>
<widget id="com.tribe.client" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Tribe</name>
    <description>
        Discover your local tribes
    </description>
    <author email="info@urbanopus.net" href="http://urbanopus.net/">
      Urban Opus
    </author>
    <content src="index.html" />

    <icon src="www/img/tribe.png" />
    <icon src="www/img/tribe.png" platform="android" density="ldpi" />
    <icon src="www/img/tribe.png" platform="android" density="mdpi" />
    <icon src="www/img/tribe.png" platform="android" density="hdpi" />
    <icon src="www/img/tribe.png" platform="android" density="xhdpi" />


    <splash src="www/img/screen/splash-land-hdpi.png" platform="android" density="land-hdpi"/>
    <splash src="www/img/screen/splash-land-ldpi.png" platform="android" density="land-ldpi"/>
    <splash src="www/img/screen/splash-land-mdpi.png" platform="android" density="land-mdpi"/>
    <splash src="www/img/screen/splash-land-xhdpi.png" platform="android" density="land-xhdpi"/>

    <splash src="www/img/screen/splash-port-hdpi.png" platform="android" density="port-hdpi"/>
    <splash src="www/img/screen/splash-port-ldpi.png" platform="android" density="port-ldpi"/>
    <splash src="www/img/screen/splash-port-mdpi.png" platform="android" density="port-mdpi"/>
    <splash src="www/img/screen/splash-port-xhdpi.png" platform="android" density="port-xhdpi"/>
    
    <access origin="*" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />

    <!-- Don't store local date in an iCloud backup. Turn this to "cloud" to enable storage 
         to be sent to iCloud. Note: enabling this could result in Apple rejecting your app.
    -->
    <preference name="BackupWebStorage" value="none" />

    <feature name="StatusBar">
      <param name="ios-package" value="CDVStatusBar" onload="true" />
    </feature>

    <feature name="GAPlugin" >
        <param name="android-package" value="com.adobe.plugins.GAPlugin"/>
    </feature>
</widget>
